# 测试结果

测试规格    规格代码 分片数 QPS参考值

1G标准版 redis.m1.micro.basic 1

8G标准版 redis.m1.large.basic  1

16G集群版 redis.c1.small.basic  8

64G集群版  redis.c1.large.basic  8

128G集群版  redis.c1.xlarge.basic  16

512G集群版  redis.c1.4xlarge.basic   |32

