# 测试结果

- 以下是本次测试结果，QPS为均值供参考


|  测试规格  |规格代码|分片数|QPS均参考值 |
|:---|:--|:---|:---|
| 1G标准版  |  redis.m1.micro.basic  | 1 | 8w  |
| 4G标准版  |  redis.m1.small.basic  | 1 | 8w |
| 8G标准版  |  redis.m1.large.basic  | 1 | 8w |
| 16G集群版 |  redis.c1.small.basic  | 8 | 40w |
| 32G集群版 |  redis.c1.small.basic  |  8| 40w |
| 64G集群版 |  redis.c1.large.basic  | 8 | 40w |
| 128G集群版|  redis.c1.xlarge.basic | 16| 80w |
| 512G集群版|  redis.c1.4xlarge.basic   | 32 | 160w |

